.Container {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #2f6f26;
    padding: 64px 48px;
}

.ScoreContainer {
    padding: 16px;
    padding-right: 0;
    margin-right: -10px;
}

.Score {
    display: flex;
    background-color: #000000;
    color: #ffffff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 24px;
    font-weight: 700;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 40px;
        text-align: center;

        + div {
            width: 10px;
        }
    }
}

.WinnerBannerContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.MenuContainer {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Cards {
    display: flex;
    padding: 16px 0;
}

.Card {
    margin-left: 0;

    + .Card {
        margin-left: -70px;
    }
}

.Spacer {
    width: 8px;
    min-width: 8px;
    display: inline-block;
}

.HitButton {
    background-color: #417ef4;
}

.StayButton {
    background-color: #ea8441;
}
